version: '3.6'

services: 

  pg:
    image: postgres
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Postgres@2021
      TZ: "America/Sao_Paulo"
      PGTZ: "America/Sao_Paulo"
    ports: 
      - "5432:5432"
    volumes: 
      - pg_data:/var/lib/postgresql/data
    networks:
      - schat-network
  
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@schat.com"
      PGADMIN_DEFAULT_PASSWORD: "123456"
    ports:
      - "16543:80"
    volumes: 
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - pg
    networks:
      - schat-network


networks:
  schat-network:
     driver: bridge

volumes: 
  pg_data:
  pgadmin_data:

    
